@font-face {
  font-family: "IRANSansWeb";
  src: local("IRANSansWeb"),
    url(.assests//fonts/IRANSansWebn.ttf) format("truetype");
}

:root {
  font-family: IRANSansWeb, Inter, Avenir, Helvetica, Arial, sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-size: 100%;
  margin: 0;
  padding: 0;
} /*16px*/

body {
  font-weight: 400;
  line-height: 1.75;
}

a {
  text-decoration: none;
  letter-spacing: var(--letterSpacing);
}
